.stretch-button{
  background-color: green;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  transition: padding 1s;
  border: none;
}
.stretch-button:hover{
  padding: 20px 40px;
}