.one{
  font-size: 12px;
  color: gray;
  margin-bottom: 8px;
}
.two{
  width: 300px;
  height: 23px;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
}
p{
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}
.three{
  font-size: 12px;
  margin-top: 15px;
  color: gray;
  margin-bottom: 15px;
}
button{
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(4, 93, 208);
  color: white;
  font-family: Arial;
  border: none;
  border-radius: 25px;
}