.one{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 60px;
  vertical-align: middle;

}
.two{
  border: none;
  margin-left: 15px;
  padding-right: 100px;
}
.three{
  background-color: rgb(76, 150, 235);
  color: white;
  border: none;
  padding: 10px 7px;
  border-radius: 25px;
  width: 80px;
  font-weight: bold;
  vertical-align: middle;
}