button{
  background-color: rgb(46,164,79);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}
button:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
