.start-button{
  background-color: rgb(121,82,179);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}
.start-button:hover{
  background-color:  rgb(75, 15, 165);
}
.download-button{
  color: rgb(108,117,125);
  background-color: white;
  border-width: .5px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: 1s;
}
.download-button:hover{
  background-color: rgb(108,117,125);
  color: white;
}