.back-link{
  color: rgb(0,113,133);
  transition: 1s;
}
.back-link:hover{
  opacity: 0.3;
}
.price{
  color: rgb(0,118,0);
  font-weight: bold;
}
.add-button{
  background-color: rgb(255,215,20);
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  transition: opacity 1s;
}
.add-button:hover{
  opacity: 0.8;
}
.add-button:active{
  opacity: 0.5;
}
.buy-button{
  background-color: rgb(255,164,28);
  border: none;
  padding: 10px 50px;
  border-radius: 30px;
  transition: opacity 1s;
}
.buy-button:hover{
  opacity: 0.8;
}
.buy-button:active{
  opacity: 0.5;
}