.divex{
  background-color: rgba(0, 0, 0, 0.888);
  width: 300px;
  height: 100px;
  color: white;
  padding: 8px 10px;
}
.one{
  font-weight: bold;
}
.two{
  font-size: 12px;
  color: gray;
}
p{
  font-family: Arial;
}