.profile{
  display: inline-block;
  width: 100px;
  height: 200px;
  margin-right: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3) ;
}
.profile-picture{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 0;
}
p{
  font-family: Arial;
}
.name{
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: 4px;

}
.mutual-friends{
  color: rgb(100, 100, 100);
  font-size: 11px;
  margin-left: 4px;
}
.add-friend-button{
  background-color: rgb(24, 119, 242);
  border: none;
  color: white;
  font-size: 10px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 4px;
}

