p{
  margin-bottom: 0;
  margin-top: 0;

}
.one{
  margin-bottom: 10px;
  font-size: 25px;
  font-family: sans-serif;
}
.three,
.two{
  display: block;
  background-color: rgb(244, 242, 242);
  padding: 5px 15px;
  border: none;
  margin-bottom: 5px;
  width: 300px;
  height: 20px;
  font-size: 10px;
}
.four{
  background-color: black;
  color: white;
  margin-right: 10px;
}
button{
  font-size: 10px;
  padding: 10px 15px;
  border: none;
  width: 120px;
  margin-top: 20px;
}
