p{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.one{
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.two{
  font-size: 12px;
  margin-bottom: 10px;
}
.three{
  color: blue;
  font-size: 12px;
}

