p{
  font-family: roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title{
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 10px;
}
.video-stats{
  font-size: 14px;
  color: #606060;
  margin-bottom: 10px;
}
.video-author{
  color: #606060;
  font-size: 14px;
  margin-bottom: 10px;
}
.talking-tech{
  width: 300px;
  color: #606060;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
.bottom-text{
  background-color:rgb(227, 65, 64);
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  margin-top: 100px;
}
.span-link{
  margin-left: 5px;
}
.span-link:hover{
  text-decoration: underline;
  cursor: pointer;
}